.btn {
  border-radius: 5px;
  border: none;
  font-size: 24px;
  padding: 10px;

  &.primary {
    background: #8FABD4;
    color: black;

    &:hover {
      background: #a5b8d4;
    }
  }

  &.secondary {
    background: #4A70A9;
    color: black;

    &:hover {
      background: rgb(181, 192, 209);
    }
  }
}


h1 {
  color: black;
  font-size: 50px;
}


html {
  background-color: #EFECE3;
  display: grid;
  place-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}