.btn {
  border-radius: 5px;
  border: none;
  font-weight: bold;
  padding: 10px;
  color: black;

  &.primary {
    background: #8FABD4;
    font-size: 24px;

    &:hover {
      background: #a5b8d4;
    }
  }

  &.secondary {
    font-size: 24px;
    background: #4A70A9;

    &:hover {
      background: #5477ac;
    }
  }

  &.danger {
    background: #97445a;

    &:hover {
      background: #a05e70;
    }
  }
}

.container {
  position: absolute;
  top: 0;
  bottom: 30%;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: fit-content;
  height: fit-content;

  margin: auto;
  gap: 2rem;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h1 {
  color: black;
  font-size: 50px;
}


html {
  background-color: #EFECE3;
  display: grid;
  place-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}