.checkoutInput {
  border-radius: 5px;
  border: none;
  height: 25px;
  padding: 5px;
  text-align: center;
  flex-grow: 1;
}

.checkoutBtnContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.checkoutInputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 450px;
  gap: 1rem;

  label {
    font-weight: bold;
  }
}